.text-gradient {
    font-weight: 800;
    background: linear-gradient(135deg, #ffffff 20%, rgba(255, 255, 255, 0.8) 90%);
    -webkit-background-clip: text;
    width: fit-content;
    -webkit-text-fill-color: transparent;
  }
  html , body{
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
  }


  .inputCustomTheme{
    background: transparent !important; 
    color: #ffffff !important;
  }

  body::-webkit-scrollbar {
    width: 4px;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #0F1624;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .25);
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                      color-stop(.5, rgba(255, 255, 255, .25)),
                      color-stop(.5, transparent), to(transparent));
  }